<html>
    <head>
        <title> View Product </title>
    </head>
    <body>
        <h1> View Product </h1>
        <% console.log(request.product) %>
        <h2> Title: <%= request.product.title %></h2>
        <p> <% request.product.content %> </p>
    </body>
</html>